*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

nav{
    height: 15vh;
    width: 100%;
    border-bottom: 1px solid black;
}

.mainNavigation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    text-align: center;
    color: black;
    font-size: xx-large;
}

.signBox{
    text-align: center;
    color: black;
    height: 50%; 
}

.signButton{
    border: 1px solid black;
    border-radius: 20px;
    height: 100%;
    width: 200%;
    background-color: #fff;
    cursor: pointer;
}

a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}